*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  padding: 0;
  margin: 0;
}

.main-content{
  min-height: 1000px;
  width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 300px 700px;
}

.left-section{
  grid-column: span 1;
  background-color: #34BABA;
  padding: 1rem;
  color: #fff;
}
.right-section{
  grid-column: span 1 / span 2;
  background-color: #EAF6F6;
}


/* profile-image */

.profile-image img{
  display: block;
  margin: auto;
  width: 60%;
  height: 210px;
  border: 5px white solid;
  border-radius: 15px;
}

/* name */

.name {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.02px;
  padding: 0.8rem;
  text-align: center;
  text-transform: uppercase;
}
/* designation */

.designation{
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
}

/* description */

.description {
  font-size: 0.75rem;
  text-align: center;
  padding: 1rem;
}

.contact-item{
  text-align: center;
  padding:0 1.5rem;
}
.icon a i{
  text-decoration: none;
  color: #fff;
  padding: 1rem;
}
/* skill */


.skills{
  font-size: 0.75rem;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem 0.5rem;
}

.skill-name{
  font-size: 0.65rem;
  text-align: left;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.progress-bar{
  border: 1px white solid;
  height: 4px;
  background-color: white;
  border-radius: 2px;
}


/* right main content */

.right-main-content{
  padding: 2rem 3rem;
}
.right-title{
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem;
  letter-spacing: 1px;
}
.right-main-content p{
  padding: 0.5rem;
  line-height: 1.5
}
.education{
  padding-left: 0.5rem;
}
.education h3{
  padding-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
}
.education p{
  padding: 0;
}
span{
  font-size: 1rem;
  font-weight: 600;
}
@media screen and (max-width: 673px){
  .main-content{
    grid-template-columns: repeat(1,1fr);
  }
  .profile-image img{
    width: 175px;;
  }
}
